@page "/"

<h1>Welcome to IMAUG</h1>

<h3>Our Next Event: </h3>

<EventPrompt Title="Using Cosmos DB to build global scale NoSQL applications"
    EventUrl="https://www.meetup.com/Iowa-Microsoft-Azure-User-Group/events/275620277/"
    Sponsor="P3"
    SponsorSite="https://p-3-inc.com/"
    ImagePath="images/P3.png"
/>

<a href="https://www.meetup.com/Iowa-Microsoft-Azure-User-Group">Join our Meetup for announcments and new events!</a>

<SurveyPrompt Title="Have a topic you want to present?" />
