@page "/"

<h1>Welcome to IMAUG</h1>

<h3>Our Next Event: </h3>

<EventPrompt Title="Using Cosmos DB to build global scale NoSQL applications"
    EventUrl="https://www.meetup.com/Iowa-Microsoft-Azure-User-Group/events/275620277/" Sponsor="P3"
    SponsorSite="https://p-3-inc.com/" ImagePath="images/P3.png" />

<a href="https://www.meetup.com/Iowa-Microsoft-Azure-User-Group">Join our Meetup for announcments and new events!</a>

<h3>IMAUG Code Of Conduct</h3>
<p>This code of conduct outlines our expectations for participants within the Iowa Microsoft Azure User Group, as well
    as steps to reporting unacceptable behavior. We are committed to providing a welcoming and inspiring community for
    all and expect our code of conduct to be honored. Anyone who violates this code of conduct may be banned from the
    community.

    We are dedicated to providing a harassment-free user group/conference experience for everyone, regardless of gender,
    gender identity and expression, sexual orientation, disability, physical appearance, body size, national origin,
    race, age or religion.

    Our aim is to foster a community that is open to all and strives to:

    - Be friendly and patient
    - Be welcoming: We strive to be a community that welcomes and supports people of all backgrounds and identities.
    - Be considerate
    - Be respectful: We may not agree with each other all the time but disagreement is no excuse for poor behavior and
    poor manners.
    - We expect all the community members to follow these rules at all the events organized by Iowa Microsoft Azure User
    Group.

    If you are being harassed or notice that someone else is being harassed, or have any other concerns, please contact
    organizers in-person at an event or send them email on aah1@mac.com.
</p>

<SurveyPrompt Title="Have a topic you want to present?" />
