@page "/"

<h1>Welcome to IMAUG</h1>

<h3>Our Next Event: </h3>

<div>Place Holder</div>

<a href="https://www.meetup.com/Iowa-Microsoft-Azure-User-Group">Join our Meetup for announcments and new events!</a>

<SurveyPrompt Title="Have a topic you want to present?" />
