<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span> 
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please send
        <a href="mailto:aah1@mac.com">Alec Harrison</a>
    </span>
    an email.
</div>

@functions {
    [Parameter]
    string Title { get; set; } // Demonstrates how a parent component can supply parameters
}
