<div class="alert alert-secondary mt-4" role="alert">
    <a href=@EventUrl>
        <span class="oi oi-cloud-upload mr-2" aria-hidden="true"></span>
        <strong>@Title</strong>
    </a>
    <br/>
    <span class="text-nowrap">
        Date: January 19th
    </span>
    <br/>
    <a href=@SponsorSite>
        <span> Spnosor: @Sponsor</span>
        <br/>
        <img src=@ImagePath alt="P3 Logo" width="200" height="200">
    </a>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string EventUrl { get; set; }
    [Parameter]
    public string Sponsor { get; set; }
    [Parameter]
    public string SponsorSite { get; set; }
    [Parameter]
    public string ImagePath { get; set; }
}