<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-envelope-closed mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please send
        <a href="mailto:aah1@mac.com?subject=IMAUG Interest">Alec Harrison</a>
    </span>
    an email.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}